.card {
    background: rgb(3, 3, 3);
    border-radius: 4px;
    height: 245px;
    margin: 1rem;
    margin-top: 8px;
    position: relative;
    box-shadow: 0 5px 10px rgb(49, 49, 49), 0 3px 6px #999;
    /* KEEPS THE IMAGE INSIDE THE SHAPE!! I can use this to do that animation I saw at work */
    overflow: hidden;
}