.App-header {
    background-color: rgb(160, 213, 248);
    height: 100px;
    padding: 10px;
    color: white;
}

.App-title {
    font-size: 2em;
    text-align: center;
}

.App-intro {
    font-size: large;
    text-align: center;
}