.App-header {
    background-color: rgb(160, 213, 248);
    height: 100px;
    padding: 11px;
    color: rgb(185, 129, 6);
}

.App-title {
    font-size: 2em;
    text-align: center;
}

.App-intro {
    font-size: large;
    text-align: center;
}